 .u-section-1 {
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 850px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 71px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 713px;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 0 32px;
}

.u-section-1 .u-group-elements-1 {
  width: 485px;
  min-height: 262px;
  height: auto;
  margin: 176px 20px 0 auto;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1.8;
  background-image: none;
  font-style: italic;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  font-family: KonnectMedium;
  font-size: 9.375rem;
  font-weight: normal;
  letter-spacing: -3px;
  margin: -20px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-style: normal;
  font-weight: normal;
  font-family: KonnectRegular;
  margin: 20px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 713px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 21px;
}

.u-section-1 .u-image-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 430px;
  height: 567px;
  margin: 73px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 54px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 668px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 32px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 382px;
    min-height: 329px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 28px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 668px;
  }

  .u-section-1 .u-image-1 {
    width: 358px;
    height: 445px;
    margin-right: 28px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 546px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 50px 22px 30px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 312px;
    min-height: 347px;
    margin-top: 79px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-left: 2px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -9px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 2px;
    margin-right: 6px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 546px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    height: 341px;
    width: 291px;
    margin-top: 142px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1345px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 448px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 414px;
    min-height: 262px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 819px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 430px;
    width: 308px;
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 463px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 40px;
    padding-right: 0;
  }

  .u-section-1 .u-group-elements-1 {
    width: 312px;
    min-height: 287px;
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-family: "DM Sans";
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 0px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 516px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 153px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 0 0 17px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 136px;
}

.u-section-2 .u-container-layout-1 {
  padding: 18px 10px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 244px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 100px;
}

.u-section-2 .u-container-layout-2 {
  padding: 19px 10px 16px;
}

.u-section-2 .u-text-1 {
  font-size: 3.25rem;
  margin: 3px auto 0 23px;
}

.u-section-2 .u-text-2 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: normal;
  text-transform: none;
  font-family: KonnectRegular;
  margin: -53px auto 0 79px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 136px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 6px;
}

.u-section-2 .u-list-2 {
  grid-template-rows: auto;
  margin: 16px 0 0;
}

.u-section-2 .u-repeater-2 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 100px;
}

.u-section-2 .u-container-layout-4 {
  padding: 3px 0;
}

.u-section-2 .u-text-3 {
  font-size: 3.25rem;
  margin: 23px auto 0 58px;
}

.u-section-2 .u-text-4 {
  font-size: 3.25rem;
  font-weight: 400;
  margin: -57px auto 0 101px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: normal;
  text-transform: none;
  font-family: KonnectRegular;
  margin: -55px auto 0 198px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 136px;
}

.u-section-2 .u-container-layout-5 {
  padding: 16px 10px;
}

.u-section-2 .u-list-3 {
  grid-template-rows: auto;
  width: 365px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-repeater-3 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 100px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 6px 11px;
}

.u-section-2 .u-text-6 {
  font-size: 3.25rem;
  background-image: none;
  font-family: KonnectRegular;
  margin: 22px auto 0 15px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 0px;
  font-weight: normal;
  text-transform: none;
  font-size: 1.25rem;
  font-family: KonnectRegular;
  margin: -83px 51px 26px auto;
}

@media (max-width: 1399px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 112px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 112px;
  }

  .u-section-2 .u-text-3 {
    font-size: 3rem;
    width: auto;
    margin-top: 22px;
    margin-left: 44px;
  }

  .u-section-2 .u-text-4 {
    font-size: 3rem;
    width: auto;
    margin-top: -52px;
    margin-left: 87px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -51px;
    margin-left: 181px;
  }

  .u-section-2 .u-list-3 {
    margin-top: 2px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 3rem;
    margin-left: 6px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -75px;
    margin-right: 17px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 130px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 14px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 6px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 93px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 14px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    line-height: 1;
    margin-top: -35px;
    margin-left: 61px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 0 4px;
  }

  .u-section-2 .u-list-2 {
    width: 264px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    margin-top: 27px;
    margin-left: 27px;
  }

  .u-section-2 .u-text-4 {
    font-size: 2.25rem;
    margin-top: -38px;
    margin-left: 56px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    line-height: 1;
    margin-top: -35px;
    margin-left: 124px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 130px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 0;
  }

  .u-section-2 .u-list-3 {
    width: 220px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 2.25rem;
    margin-top: 31px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-top: -66px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 8px;
    margin-left: 145px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -24px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 124px;
  }

  .u-section-2 .u-list-2 {
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 31px;
    margin-left: 148px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -39px;
    margin-left: 182px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: -27px;
    margin-right: 67px;
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 71px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -27px;
    margin-right: 57px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 27px;
    margin-left: 47px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 84px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -35px;
    margin-right: 29px;
    margin-left: 157px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 124px;
  }

  .u-section-2 .u-list-3 {
    width: 284px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 8px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -57px;
    margin-right: 56px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 800px;
}

.u-section-3 .u-group-elements-1 {
  width: 595px;
  min-height: 214px;
  height: auto;
  margin: 339px 545px 0 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 2.5rem;
  line-height: 1.4;
  font-style: italic;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 2.25rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 8px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  font-family: "DM Sans";
  line-height: 1.4;
  margin: 52px 655px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 577px;
    min-height: 176px;
    margin-right: 345px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: 38px;
    margin-right: 530px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 669px;
  }

  .u-section-3 .u-group-elements-1 {
    width: 392px;
    min-height: 132px;
    margin-top: 332px;
    margin-right: 125px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 4px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 31px;
    margin-right: 406px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-3 .u-group-elements-1 {
    min-height: 136px;
    margin-top: 172px;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 26px;
    margin-right: 226px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-group-elements-1 {
    margin-top: 69px;
    min-height: 169px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 16px;
    margin-right: 99px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 420px;
}

.u-section-4 .u-image-1 {
  width: 506px;
  height: 506px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -261px 0 0 auto;
}

.u-section-4 .u-group-elements-1 {
  width: 326px;
  min-height: 86px;
  height: auto;
  margin: -145px auto 0 0;
}

.u-section-4 .u-text-1 {
  font-family: KonnectRegular;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.5rem;
  line-height: 1.2;
  font-style: italic;
  font-family: "Playfair Display", serif;
  font-weight: 500;
  letter-spacing: 1px;
  margin: -48px auto 0 186px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 25px 570px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-4 .u-image-1 {
    width: 448px;
    height: 448px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-scale: 1;
    --animation-custom_in-translate_y: 300px;
    margin-top: -224px;
  }

  .u-section-4 .u-group-elements-1 {
    min-height: 67px;
    margin-top: -155px;
  }

  .u-section-4 .u-text-1 {
    font-family: "DM Sans";
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -35px;
    margin-left: 155px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: 29px;
    margin-right: 548px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-4 .u-image-1 {
    width: 379px;
    height: 379px;
    margin-top: -195px;
  }

  .u-section-4 .u-group-elements-1 {
    margin-top: -110px;
  }

  .u-section-4 .u-text-3 {
    font-size: 0.875rem;
    margin-right: 328px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 492px;
  }

  .u-section-4 .u-group-elements-1 {
    margin-top: 10px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 25px;
    margin-right: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 385px;
  }

  .u-section-4 .u-image-1 {
    width: 243px;
    height: 243px;
    margin-top: -132px;
  }

  .u-section-4 .u-group-elements-1 {
    width: 302px;
    min-height: 57px;
    margin-top: 24px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: -31px;
    margin-right: 107px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 19px;
    margin-right: 38px;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-5 {
  background-image: linear-gradient(150deg, #0b1b3e, #1a3368);
}

.u-section-5 .u-sheet-1 {
  min-height: 634px;
}

.u-section-5 .u-text-1 {
  margin-top: 115px;
  margin-bottom: 0;
  font-family: KonnectRegular;
  font-size: 2.25rem;
  font-weight: 500;
}

.u-section-5 .u-list-1 {
  margin-top: 19px;
  margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(20% - 32px) calc(20% - 32px) calc(20% - 32px) calc(20% - 32px) calc(20% - 32px);
  min-height: 388px;
  grid-gap: 40px 40px;
}

.u-section-5 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 30px 5px;
}

.u-section-5 .u-icon-1 {
  height: 81px;
  width: 80px;
  background-image: none;
  color: rgb(145, 196, 188) !important;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 0.875rem;
  font-family: KonnectRegular;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0 30px 5px;
}

.u-section-5 .u-icon-2 {
  height: 81px;
  width: 80px;
  background-image: none;
  color: rgb(197, 197, 143) !important;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  font-family: KonnectRegular;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px 0 30px 5px;
}

.u-section-5 .u-icon-3 {
  height: 81px;
  width: 80px;
  background-image: none;
  color: rgb(145, 196, 188) !important;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-6 {
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 0.875rem;
  font-family: KonnectRegular;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 0 30px 5px;
}

.u-section-5 .u-icon-4 {
  height: 81px;
  width: 80px;
  background-image: none;
  color: rgb(197, 197, 143) !important;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-8 {
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 0.875rem;
  font-family: KonnectRegular;
  margin: 20px 0 0;
}

.u-section-5 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px 0 30px 5px;
}

.u-section-5 .u-icon-5 {
  height: 81px;
  width: 80px;
  background-image: none;
  color: rgb(145, 196, 188) !important;
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-10 {
  font-family: "DM Sans";
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-11 {
  font-size: 0.875rem;
  font-family: KonnectRegular;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 313px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 979px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 716px;
    grid-gap: 27px 27px;
    grid-template-columns: calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px) calc(33.3333% - 26.6667px);
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 0;
    padding-bottom: 18px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 0;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-right: 0;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: 21px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 0;
    padding-bottom: 18px;
  }

  .u-section-5 .u-text-10 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-text-11 {
    width: auto;
    margin-top: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    min-height: 1056px;
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 609px;
}

.u-section-6 .u-group-elements-1 {
  width: 1140px;
  min-height: 42px;
  margin: 81px 0 0;
}

.u-section-6 .u-text-1 {
  font-family: KonnectMedium;
  font-size: 2.25rem;
  font-weight: 500;
  margin: 1px auto 0 0;
}

.u-section-6 .u-list-1 {
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  min-height: 427px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
}

.u-section-6 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 20px 15px;
}

.u-section-6 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  font-family: "DM Sans";
  width: 177px;
  margin: 0 auto;
}

.u-section-6 .u-text-3 {
  font-size: 0.875rem;
  font-family: "DM Sans";
  width: auto;
  margin: 5px 0 0;
}

.u-section-6 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 20px 15px;
}

.u-section-6 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-6 .u-text-4 {
  font-size: 1rem;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 0 26px;
}

.u-section-6 .u-text-5 {
  font-size: 0.875rem;
  font-family: "DM Sans";
  margin: 5px 0 0;
}

.u-section-6 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px 20px 15px;
}

.u-section-6 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-6 .u-text-6 {
  font-size: 1rem;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 0 26px;
}

.u-section-6 .u-text-7 {
  font-size: 0.875rem;
  font-family: "DM Sans";
  margin: 5px 0 0;
}

.u-section-6 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-4 {
  padding: 30px 20px 15px;
}

.u-section-6 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-6 .u-text-8 {
  font-size: 1rem;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 0 26px;
}

.u-section-6 .u-text-9 {
  font-size: 0.875rem;
  font-family: "DM Sans";
  margin: 5px 0 0;
}

.u-section-6 .u-list-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-5 {
  padding: 30px 20px 15px;
}

.u-section-6 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-6 .u-text-10 {
  font-size: 1rem;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 0 26px;
}

.u-section-6 .u-text-11 {
  font-size: 0.875rem;
  font-family: "DM Sans";
  margin: 5px 0 0;
}

.u-section-6 .u-list-item-6 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-6 {
  padding: 30px 20px 15px;
}

.u-section-6 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-6 .u-text-12 {
  font-size: 1rem;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 0 26px;
}

.u-section-6 .u-text-13 {
  font-size: 0.875rem;
  font-family: "DM Sans";
  margin: 5px 0 0;
}

.u-section-6 .u-list-item-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px 20px 15px;
}

.u-section-6 .u-image-7 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-6 .u-text-14 {
  font-size: 1rem;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 0 26px;
}

.u-section-6 .u-text-15 {
  font-size: 0.875rem;
  font-family: "DM Sans";
  margin: 5px 0 0;
}

.u-section-6 .u-list-item-8 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px 20px 15px;
}

.u-section-6 .u-image-8 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-6 .u-text-16 {
  font-size: 1rem;
  font-weight: 700;
  font-family: "DM Sans";
  margin: 0 26px;
}

.u-section-6 .u-text-17 {
  font-size: 0.875rem;
  font-family: "DM Sans";
  margin: 5px 0 0;
}

.u-section-6 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-6 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1399px) {
  .u-section-6 .u-image-1 {
    width: auto;
  }

  .u-section-6 .u-image-2 {
    width: auto;
  }

  .u-section-6 .u-image-3 {
    width: auto;
  }

  .u-section-6 .u-image-4 {
    width: auto;
  }

  .u-section-6 .u-image-5 {
    width: auto;
  }

  .u-section-6 .u-image-6 {
    width: auto;
  }

  .u-section-6 .u-image-7 {
    width: auto;
  }

  .u-section-6 .u-image-8 {
    width: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-elements-1 {
    width: 940px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 7px;
  }

  .u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
  }

  .u-section-6 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 9px;
  }

  .u-section-6 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 988px;
  }

  .u-section-6 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 790px;
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
  }

  .u-section-6 .u-text-4 {
    width: 177px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-5 {
    width: auto;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
  }

  .u-section-6 .u-text-6 {
    width: 177px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-7 {
    width: auto;
  }

  .u-section-6 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
  }

  .u-section-6 .u-text-8 {
    width: 177px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-9 {
    width: auto;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
  }

  .u-section-6 .u-text-10 {
    width: 177px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-11 {
    width: auto;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
  }

  .u-section-6 .u-text-12 {
    width: 177px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-13 {
    width: auto;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
  }

  .u-section-6 .u-text-14 {
    width: 177px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-15 {
    width: auto;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 13px;
  }

  .u-section-6 .u-text-16 {
    width: 177px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-17 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-6 .u-group-elements-1 {
    min-height: 52px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-6 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 560px;
    grid-auto-columns: 100%;
  }
}@font-face {
  font-family: 'KonnectMedium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KonnectMedium.otf);
}@font-face {
  font-family: 'KonnectRegular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KonnectRegular.otf);
}@font-face {
  font-family: 'KonnectLight';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KonnectLight.otf);
}