 .u-section-1 {
  min-height: 410px;
}

.u-section-1 .u-group-1 {
  width: 1140px;
  min-height: 250px;
  height: auto;
  margin: 131px auto 29px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-style: italic;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  line-height: 1.5999999999999999;
  margin: 0 694px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.3126em;
  margin-right: 5px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    min-height: 338px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 494px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 259px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 274px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 194px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 134px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 122px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    line-height: 1.2;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1102px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 948px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 50px 0 0;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-text-2 {
  font-family: KonnectRegular;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-family: KonnectMedium;
  margin: 51px 532px 0 0;
}

.u-section-2 .u-list-1 {
  margin: 12px 0 -44px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 603px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-group-1 {
  margin-top: 0;
  margin-bottom: -10px;
  box-shadow: 0px 2px 20px 0 rgba(0,0,0,0.05);
  text-shadow: 0px 2px 0 rgba(0,0,0,0);
  min-height: 206px;
  height: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px 25px 0;
}

.u-section-2 .u-image-1 {
  width: 247px;
  left: 0;
  right: auto;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  font-family: KonnectMedium;
  margin: 20px 0 0 266px;
}

.u-section-2 .u-text-5 {
  background-image: none;
  font-size: 0.875rem;
  text-transform: none;
  margin: 11px 0 0 266px;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  line-height: 1.4;
  margin: 24px 0 0 266px;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-group-2 {
  margin-top: 0;
  margin-bottom: -10px;
  box-shadow: 0px 2px 20px 0 rgba(0,0,0,0.05);
  text-shadow: 0px 2px 0 rgba(0,0,0,0);
  min-height: 206px;
  height: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 30px 25px 0;
}

.u-section-2 .u-image-2 {
  width: 247px;
  left: 0;
  right: auto;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  font-family: KonnectMedium;
  margin: 20px 0 0 266px;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  text-transform: uppercase;
  background-image: none;
  margin: 11px 0 0 266px;
}

.u-section-2 .u-text-9 {
  font-size: 0.875rem;
  line-height: 1.4;
  margin: 24px 0 0 266px;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px 10px 10px 0;
}

.u-section-2 .u-group-3 {
  margin-top: 0;
  margin-bottom: -10px;
  box-shadow: 0px 2px 20px 0 rgba(0,0,0,0.05);
  text-shadow: 0px 2px 0 rgba(0,0,0,0);
  min-height: 206px;
  height: auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 30px 25px 0;
}

.u-section-2 .u-image-3 {
  width: 247px;
  left: 0;
  right: auto;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  font-family: KonnectMedium;
  margin: 20px 0 0 266px;
}

.u-section-2 .u-text-11 {
  font-size: 0.875rem;
  text-transform: uppercase;
  background-image: none;
  margin: 11px 0 0 266px;
}

.u-section-2 .u-text-12 {
  font-size: 0.875rem;
  line-height: 1.4;
  margin: 24px 0 0 266px;
}

.u-section-2 .u-image-4 {
  min-height: 948px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-8 {
  padding: 15px 15px 30px;
}

.u-section-2 .u-list-2 {
  margin: 0 auto 0 20px;
}

.u-section-2 .u-repeater-2 {
  grid-gap: 16px 16px;
  grid-template-columns: 100%;
  min-height: 363px;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-group-4 {
  background-image: none;
  min-height: 402px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 20px 17px 15px;
}

.u-section-2 .u-text-13 {
  font-family: KonnectMedium;
  font-size: 1rem;
  margin: 0 3px;
}

.u-section-2 .u-text-14 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 10px auto 0 3px;
}

.u-section-2 .u-text-15 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectRegular;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1230px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 782px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 389px;
  }

  .u-section-2 .u-group-1 {
    min-height: 207px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 282px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 282px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 282px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 282px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 282px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-left: 282px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: 282px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-left: 282px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-left: 282px;
  }

  .u-section-2 .u-image-4 {
    min-height: 466px;
  }

  .u-section-2 .u-group-4 {
    min-height: 399px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
  }

  .u-section-2 .u-text-13 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-top: 6px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    padding-left: 9px;
    margin-top: 26px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 0 30px 0 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 251px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 243px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 144px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 160px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 160px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 160px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
    padding-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 144px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 160px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 160px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 160px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
    padding-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 144px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 160px;
  }

  .u-section-2 .u-text-11 {
    margin-left: 160px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 160px;
  }

  .u-section-2 .u-image-4 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-9 {
    padding: 0;
  }

  .u-section-2 .u-group-4 {
    min-height: 584px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 15px;
  }

  .u-section-2 .u-text-14 {
    font-size: 0.75rem;
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 33px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1709px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 39px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1147px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 21px 21px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: 10px;
    min-height: 226px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    text-transform: uppercase;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-2 {
    margin-top: 10px;
    min-height: 226px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
  }

  .u-section-2 .u-group-3 {
    margin-top: 10px;
    min-height: 226px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-right: 20px;
  }

  .u-section-2 .u-text-12 {
    margin-left: 170px;
  }

  .u-section-2 .u-image-4 {
    min-height: 557px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-2 .u-group-4 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 5px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-14 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 5px;
    margin-left: 4px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 21px;
    margin-right: 220px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2530px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 26px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1604px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 51px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 5px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 19px 19px;
    min-height: 1255px;
  }

  .u-section-2 .u-group-1 {
    min-height: 363px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 145px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-2 .u-text-4 {
    margin-top: 22px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 9px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 9px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    min-height: 363px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 145px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-2 .u-text-7 {
    margin-top: 22px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 9px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: 9px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-group-3 {
    min-height: 363px;
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 145px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-2 .u-text-10 {
    margin-top: 22px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    margin-top: 9px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 9px;
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    min-height: 617px;
  }

  .u-section-2 .u-repeater-2 {
    min-height: 398px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 24px;
  }

  .u-section-2 .u-group-4 {
    min-height: 395px;
    margin-bottom: -21px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-top: 20px;
    margin-right: 64px;
    margin-left: auto;
  }
}@font-face {
  font-family: 'KonnectRegular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KonnectRegular.otf);
}@font-face {
  font-family: 'KonnectMedium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KonnectMedium.otf);
}@font-face {
  font-family: 'KonnectLight';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KonnectLight.otf);
}