 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 42px 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 477px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-group-elements-1 {
  width: 529px;
  min-height: 132px;
  height: auto;
  margin: 73px auto 0 2px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  font-family: "DM Sans";
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-style: italic;
  margin: -66px auto 0 173px;
}

.u-section-1 .u-text-3 {
  font-family: "DM Sans";
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-4 {
  font-family: "DM Sans";
  margin: 47px 1px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 36px auto 0;
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 477px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 60px 30px;
  display: flex;
  align-items: center;
}

.u-section-1 .u-group-1 {
  min-height: 120px;
  margin-top: 76px;
  margin-bottom: 57px;
  height: auto;
  width: 100%;
}

.u-section-1 .u-container-layout-3 {
  padding: 5px 20px;
}

.u-section-1 .u-list-1 {
  width: 1059px;
  margin: 3px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 103px;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-family: KonnectMedium;
  margin: 8px 152px 0 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.1112em;
  margin-right: 7px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-family: KonnectRegular;
  margin: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  font-family: KonnectMedium;
  margin: 8px 152px 0 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.1112em;
  margin-right: 7px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  font-family: KonnectRegular;
  margin: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  font-family: KonnectMedium;
  margin: 8px 144px 0 0;
}

.u-section-1 .u-icon-3 {
  font-size: 1.1112em;
  margin-right: 7px;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  font-family: KonnectRegular;
  margin: 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-group-1 {
    height: auto;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 163px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 163px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 163px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 508px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 477px;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 393px;
  }

  .u-section-1 .u-group-1 {
    min-height: 137px;
    width: 100%;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-list-1 {
    width: 884px;
    margin-top: 7px;
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 109px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 112px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 112px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 112px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 489px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 356px;
  }

  .u-section-1 .u-image-1 {
    min-height: 301px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-group-1 {
    min-height: 159px;
    margin-top: 36px;
    margin-bottom: 46px;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 138px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 29px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 29px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 24px;
  }

  .u-section-1 .u-image-1 {
    min-height: 452px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 331px;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1154px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 21px;
    min-height: 87px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-top: -39px;
    margin-left: 107px;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 49px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-image-1 {
    min-height: 285px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 186px;
}

.u-section-2 .u-list-1 {
  margin-top: -21px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 12px) calc(25% - 12px) calc(25% - 12px) calc(25% - 12px);
  min-height: 434px;
  grid-gap: 16px 16px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  text-shadow: 0px 3px 9px rgba(0,0,0,0.05);
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.05);
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-text-1 {
  font-family: "DM Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-2 .u-icon-1 {
  vertical-align: 0px;
  margin-right: 2px;
  font-size: 1.125em;
}

.u-section-2 .u-text-2 {
  font-family: KonnectMedium;
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-text-3 {
  font-style: normal;
  font-size: 0.875rem;
  font-family: KonnectRegular;
  margin: 5px 0 0;
}

.u-section-2 .u-list-item-2 {
  text-shadow: 0px 3px 9px rgba(0,0,0,0.05);
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.05);
}

.u-section-2 .u-container-layout-2 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-text-4 {
  font-family: "DM Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-2 .u-icon-2 {
  vertical-align: 0px;
  margin-right: 2px;
  font-size: 1.125em;
}

.u-section-2 .u-text-5 {
  font-family: KonnectMedium;
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  font-size: 0.875rem;
  font-family: KonnectRegular;
  margin: 5px 0 0;
}

.u-section-2 .u-list-item-3 {
  text-shadow: 0px 3px 9px rgba(0,0,0,0.05);
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.05);
}

.u-section-2 .u-container-layout-3 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-text-7 {
  font-family: "DM Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-2 .u-icon-3 {
  font-size: 1.125em;
  vertical-align: 0px;
  margin-right: 2px;
}

.u-section-2 .u-text-8 {
  font-family: KonnectMedium;
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-text-9 {
  font-style: normal;
  font-size: 0.875rem;
  font-family: KonnectRegular;
  margin: 5px 0 0;
}

.u-section-2 .u-list-item-4 {
  text-shadow: 0px 3px 9px rgba(0,0,0,0.05);
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.05);
}

.u-section-2 .u-container-layout-4 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-text-10 {
  font-family: "DM Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-2 .u-icon-4 {
  margin-right: 2px;
  vertical-align: 0px;
  font-size: 1.125em;
}

.u-section-2 .u-text-11 {
  font-family: KonnectMedium;
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-text-12 {
  font-style: normal;
  font-size: 0.875rem;
  font-family: KonnectRegular;
  margin: 5px 0 0;
}

.u-section-2 .u-list-item-5 {
  text-shadow: 0px 3px 9px rgba(0,0,0,0.05);
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.05);
}

.u-section-2 .u-container-layout-5 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-text-13 {
  font-family: "DM Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-2 .u-icon-5 {
  margin-right: 2px;
  vertical-align: 0px;
  font-size: 1.125em;
}

.u-section-2 .u-text-14 {
  font-family: KonnectMedium;
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-text-15 {
  font-style: normal;
  font-size: 0.875rem;
  font-family: KonnectRegular;
  margin: 5px 0 0;
}

.u-section-2 .u-list-item-6 {
  text-shadow: 0px 3px 9px rgba(0,0,0,0.05);
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.05);
}

.u-section-2 .u-container-layout-6 {
  padding: 20px 20px 30px;
}

.u-section-2 .u-text-16 {
  font-family: "DM Sans";
  font-weight: 700;
  text-transform: uppercase;
  margin: 14px 0 0;
}

.u-section-2 .u-icon-6 {
  margin-right: 2px;
  vertical-align: 0px;
  font-size: 1.125em;
}

.u-section-2 .u-text-17 {
  font-family: KonnectMedium;
  font-size: 1rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-2 .u-text-18 {
  font-style: normal;
  font-size: 0.875rem;
  font-family: KonnectRegular;
  margin: 5px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 357px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 8px) calc(50% - 8px);
    min-height: 839px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1168px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -14px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1108px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 166px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 136px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px 30px 40px;
}

.u-section-3 .u-text-1 {
  font-family: "DM Sans";
  font-size: 1.875rem;
  letter-spacing: -1px;
  font-weight: 500;
  margin: 22px auto 0 3px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 136px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-3 .u-btn-1 {
  font-size: 1.125rem;
  background-image: linear-gradient(to right, #dedec0, #c5c58f);
  font-family: KonnectMedium;
  font-weight: 500;
  text-transform: none;
  margin: 8px 0 0;
  padding: 10px 77px;
}

.u-section-3 .u-icon-1 {
  font-size: 1.5715em;
  margin-right: 8px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 112px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 112px;
  }

  .u-section-3 .u-btn-1 {
    border-style: solid;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 130px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 230px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-left: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }
}@font-face {
  font-family: 'KonnectMedium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KonnectMedium.otf);
}@font-face {
  font-family: 'KonnectRegular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KonnectRegular.otf);
}@font-face {
  font-family: 'KonnectLight';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KonnectLight.otf);
}


