 .u-section-1 {
  min-height: 1685px;
}

.u-section-1 .u-tabs-1 {
  min-height: 1656px;
  height: auto;
  margin-top: 0;
  margin-bottom: 29px;
}

.u-section-1 .u-tab-item-1 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1rem;
  background-image: none;
  font-family: "DM Sans";
  font-weight: 500;
  padding: 10px 0;
}

.u-section-1 .u-tab-item-2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1rem;
  background-image: none;
  font-family: "DM Sans";
  font-weight: 500;
  padding: 10px 0;
}

.u-section-1 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-family: KonnectRegular;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-group-1 {
  width: 1140px;
  min-height: 187px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-right: 30px;
  padding-left: 0;
}

.u-section-1 .u-group-elements-1 {
  width: 222px;
  min-height: 99px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 3rem;
  font-family: KonnectRegular;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-style: italic;
  font-family: "Playfair Display", serif;
  margin: -5px 0 0;
}

.u-section-1 .u-list-1 {
  width: 1142px;
  margin: 0 auto;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 910px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-group-2 {
  min-height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  box-shadow: 0px 5px 30px 0 rgba(0,0,0,0.05);
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.75rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: KonnectRegular;
  margin: 12px 18px 0 auto;
  padding: 2px 13px 3px;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  margin: -18px 189px 0 83px;
}

.u-section-1 .u-text-5 {
  font-size: 0.75rem;
  width: 56px;
  margin: -13px auto 0 18px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectMedium;
  margin: 20px 18px 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 10px 18px 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.75rem;
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 68px;
  height: 37px;
  margin: -13px 18px 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.75rem;
  line-height: 1.0999999999999999;
  margin: -22px 18px 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-family: KonnectMedium;
  margin: 30px 18px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-group-3 {
  min-height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  box-shadow: 0px 5px 30px 0 rgba(0,0,0,0.05);
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.75rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: KonnectRegular;
  margin: 12px 18px 0 auto;
  padding: 2px 13px 3px;
}

.u-section-1 .u-text-10 {
  font-size: 0.75rem;
  margin: -18px 189px 0 83px;
}

.u-section-1 .u-text-11 {
  font-size: 0.75rem;
  width: 56px;
  margin: -13px auto 0 18px;
}

.u-section-1 .u-text-12 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectMedium;
  margin: 20px 18px 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 10px 18px 0;
}

.u-section-1 .u-text-14 {
  font-size: 0.75rem;
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 68px;
  height: 37px;
  margin: -13px 18px 0;
}

.u-section-1 .u-text-15 {
  font-size: 0.75rem;
  line-height: 1.0999999999999999;
  margin: -22px 18px 0 auto;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-family: KonnectMedium;
  margin: 30px 18px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-group-4 {
  min-height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  box-shadow: 0px 5px 30px 0 rgba(0,0,0,0.05);
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-7 {
  font-size: 0.75rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: KonnectRegular;
  margin: 12px 18px 0 auto;
  padding: 2px 13px 3px;
}

.u-section-1 .u-text-16 {
  font-size: 0.75rem;
  margin: -18px 189px 0 83px;
}

.u-section-1 .u-text-17 {
  font-size: 0.75rem;
  width: 56px;
  margin: -13px auto 0 18px;
}

.u-section-1 .u-text-18 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectMedium;
  margin: 20px 18px 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-19 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 10px 18px 0;
}

.u-section-1 .u-text-20 {
  font-size: 0.75rem;
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-image-6 {
  width: 68px;
  height: 37px;
  margin: -13px 18px 0;
}

.u-section-1 .u-text-21 {
  font-size: 0.75rem;
  line-height: 1.0999999999999999;
  margin: -22px 18px 0 auto;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-family: KonnectMedium;
  margin: 30px 18px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-group-5 {
  min-height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  box-shadow: 0px 5px 30px 0 rgba(0,0,0,0.05);
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-10 {
  font-size: 0.75rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: KonnectRegular;
  margin: 12px 18px 0 auto;
  padding: 2px 13px 3px;
}

.u-section-1 .u-text-22 {
  font-size: 0.75rem;
  margin: -18px 189px 0 83px;
}

.u-section-1 .u-text-23 {
  font-size: 0.75rem;
  width: 56px;
  margin: -13px auto 0 18px;
}

.u-section-1 .u-text-24 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectMedium;
  margin: 20px 18px 0;
}

.u-section-1 .u-btn-11 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-25 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 10px 18px 0;
}

.u-section-1 .u-text-26 {
  font-size: 0.75rem;
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 68px;
  height: 37px;
  margin: -13px 18px 0;
}

.u-section-1 .u-text-27 {
  font-size: 0.75rem;
  line-height: 1.0999999999999999;
  margin: -22px 18px 0 auto;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  font-family: KonnectMedium;
  margin: 30px 18px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px;
}

.u-section-1 .u-group-6 {
  min-height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  box-shadow: 0px 5px 30px 0 rgba(0,0,0,0.05);
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-13 {
  font-size: 0.75rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: KonnectRegular;
  margin: 12px 18px 0 auto;
  padding: 2px 13px 3px;
}

.u-section-1 .u-text-28 {
  font-size: 0.75rem;
  margin: -18px 189px 0 83px;
}

.u-section-1 .u-text-29 {
  font-size: 0.75rem;
  width: 56px;
  margin: -13px auto 0 18px;
}

.u-section-1 .u-text-30 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectMedium;
  margin: 20px 18px 0;
}

.u-section-1 .u-btn-14 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-31 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 10px 18px 0;
}

.u-section-1 .u-text-32 {
  font-size: 0.75rem;
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-image-10 {
  width: 68px;
  height: 37px;
  margin: -13px 18px 0;
}

.u-section-1 .u-text-33 {
  font-size: 0.75rem;
  line-height: 1.0999999999999999;
  margin: -22px 18px 0 auto;
}

.u-section-1 .u-btn-15 {
  border-style: solid;
  font-family: KonnectMedium;
  margin: 30px 18px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 10px;
}

.u-section-1 .u-group-7 {
  min-height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  box-shadow: 0px 5px 30px 0 rgba(0,0,0,0.05);
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-16 {
  font-size: 0.75rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: KonnectRegular;
  margin: 12px 18px 0 auto;
  padding: 2px 13px 3px;
}

.u-section-1 .u-text-34 {
  font-size: 0.75rem;
  margin: -18px 189px 0 83px;
}

.u-section-1 .u-text-35 {
  font-size: 0.75rem;
  width: 56px;
  margin: -13px auto 0 18px;
}

.u-section-1 .u-text-36 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectMedium;
  margin: 20px 18px 0;
}

.u-section-1 .u-btn-17 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-37 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 10px 18px 0;
}

.u-section-1 .u-text-38 {
  font-size: 0.75rem;
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-image-12 {
  width: 68px;
  height: 37px;
  margin: -13px 18px 0;
}

.u-section-1 .u-text-39 {
  font-size: 0.75rem;
  line-height: 1.0999999999999999;
  margin: -22px 18px 0 auto;
}

.u-section-1 .u-btn-18 {
  border-style: solid;
  font-family: KonnectMedium;
  margin: 30px 18px 0 auto;
  padding: 0;
}

.u-section-1 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-text-40 {
  font-family: KonnectRegular;
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-group-8 {
  width: 1140px;
  min-height: 187px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-16 {
  padding-right: 30px;
  padding-left: 0;
}

.u-section-1 .u-group-elements-2 {
  width: 222px;
  min-height: 99px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-41 {
  font-size: 3rem;
  font-family: KonnectRegular;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-42 {
  font-size: 3rem;
  font-style: italic;
  font-family: "Playfair Display", serif;
  margin: -5px 0 0;
}

.u-section-1 .u-list-2 {
  width: 1142px;
  margin: 0 auto;
}

.u-section-1 .u-repeater-2 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 910px;
}

.u-section-1 .u-container-layout-17 {
  padding: 10px;
}

.u-section-1 .u-group-9 {
  min-height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  box-shadow: 0px 5px 30px 0 rgba(0,0,0,0.05);
}

.u-section-1 .u-container-layout-18 {
  padding: 0;
}

.u-section-1 .u-image-13 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-19 {
  font-size: 0.75rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: KonnectRegular;
  margin: 12px 18px 0 auto;
  padding: 2px 13px 3px;
}

.u-section-1 .u-text-43 {
  font-size: 0.75rem;
  margin: -18px 189px 0 83px;
}

.u-section-1 .u-text-44 {
  font-size: 0.75rem;
  width: 56px;
  margin: -13px auto 0 18px;
}

.u-section-1 .u-text-45 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectMedium;
  margin: 20px 18px 0;
}

.u-section-1 .u-btn-20 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-46 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 10px 18px 0;
}

.u-section-1 .u-text-47 {
  font-size: 0.75rem;
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-image-14 {
  width: 68px;
  height: 37px;
  margin: -13px 18px 0;
}

.u-section-1 .u-text-48 {
  font-size: 0.75rem;
  line-height: 1.0999999999999999;
  margin: -22px 18px 0 auto;
}

.u-section-1 .u-btn-21 {
  border-style: solid;
  font-family: KonnectMedium;
  margin: 30px 18px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 10px;
}

.u-section-1 .u-group-10 {
  min-height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  box-shadow: 0px 5px 30px 0 rgba(0,0,0,0.05);
}

.u-section-1 .u-container-layout-20 {
  padding: 0;
}

.u-section-1 .u-image-15 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-22 {
  font-size: 0.75rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: KonnectRegular;
  margin: 12px 18px 0 auto;
  padding: 2px 13px 3px;
}

.u-section-1 .u-text-49 {
  font-size: 0.75rem;
  margin: -18px 189px 0 83px;
}

.u-section-1 .u-text-50 {
  font-size: 0.75rem;
  width: 56px;
  margin: -13px auto 0 18px;
}

.u-section-1 .u-text-51 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectMedium;
  margin: 20px 18px 0;
}

.u-section-1 .u-btn-23 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-52 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 10px 18px 0;
}

.u-section-1 .u-text-53 {
  font-size: 0.75rem;
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-image-16 {
  width: 68px;
  height: 37px;
  margin: -13px 18px 0;
}

.u-section-1 .u-text-54 {
  font-size: 0.75rem;
  line-height: 1.0999999999999999;
  margin: -22px 18px 0 auto;
}

.u-section-1 .u-btn-24 {
  border-style: solid;
  font-family: KonnectMedium;
  margin: 30px 18px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 10px;
}

.u-section-1 .u-group-11 {
  min-height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  box-shadow: 0px 5px 30px 0 rgba(0,0,0,0.05);
}

.u-section-1 .u-container-layout-22 {
  padding: 0;
}

.u-section-1 .u-image-17 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-25 {
  font-size: 0.75rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: KonnectRegular;
  margin: 12px 18px 0 auto;
  padding: 2px 13px 3px;
}

.u-section-1 .u-text-55 {
  font-size: 0.75rem;
  margin: -18px 189px 0 83px;
}

.u-section-1 .u-text-56 {
  font-size: 0.75rem;
  width: 56px;
  margin: -13px auto 0 18px;
}

.u-section-1 .u-text-57 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectMedium;
  margin: 20px 18px 0;
}

.u-section-1 .u-btn-26 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-58 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 10px 18px 0;
}

.u-section-1 .u-text-59 {
  font-size: 0.75rem;
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-image-18 {
  width: 68px;
  height: 37px;
  margin: -13px 18px 0;
}

.u-section-1 .u-text-60 {
  font-size: 0.75rem;
  line-height: 1.0999999999999999;
  margin: -22px 18px 0 auto;
}

.u-section-1 .u-btn-27 {
  border-style: solid;
  font-family: KonnectMedium;
  margin: 30px 18px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-23 {
  padding: 10px;
}

.u-section-1 .u-group-12 {
  min-height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  box-shadow: 0px 5px 30px 0 rgba(0,0,0,0.05);
}

.u-section-1 .u-container-layout-24 {
  padding: 0;
}

.u-section-1 .u-image-19 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-28 {
  font-size: 0.75rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: KonnectRegular;
  margin: 12px 18px 0 auto;
  padding: 2px 13px 3px;
}

.u-section-1 .u-text-61 {
  font-size: 0.75rem;
  margin: -18px 189px 0 83px;
}

.u-section-1 .u-text-62 {
  font-size: 0.75rem;
  width: 56px;
  margin: -13px auto 0 18px;
}

.u-section-1 .u-text-63 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectMedium;
  margin: 20px 18px 0;
}

.u-section-1 .u-btn-29 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-64 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 10px 18px 0;
}

.u-section-1 .u-text-65 {
  font-size: 0.75rem;
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-image-20 {
  width: 68px;
  height: 37px;
  margin: -13px 18px 0;
}

.u-section-1 .u-text-66 {
  font-size: 0.75rem;
  line-height: 1.0999999999999999;
  margin: -22px 18px 0 auto;
}

.u-section-1 .u-btn-30 {
  border-style: solid;
  font-family: KonnectMedium;
  margin: 30px 18px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-25 {
  padding: 10px;
}

.u-section-1 .u-group-13 {
  min-height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  box-shadow: 0px 5px 30px 0 rgba(0,0,0,0.05);
}

.u-section-1 .u-container-layout-26 {
  padding: 0;
}

.u-section-1 .u-image-21 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-31 {
  font-size: 0.75rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: KonnectRegular;
  margin: 12px 18px 0 auto;
  padding: 2px 13px 3px;
}

.u-section-1 .u-text-67 {
  font-size: 0.75rem;
  margin: -18px 189px 0 83px;
}

.u-section-1 .u-text-68 {
  font-size: 0.75rem;
  width: 56px;
  margin: -13px auto 0 18px;
}

.u-section-1 .u-text-69 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectMedium;
  margin: 20px 18px 0;
}

.u-section-1 .u-btn-32 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-70 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 10px 18px 0;
}

.u-section-1 .u-text-71 {
  font-size: 0.75rem;
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-image-22 {
  width: 68px;
  height: 37px;
  margin: -13px 18px 0;
}

.u-section-1 .u-text-72 {
  font-size: 0.75rem;
  line-height: 1.0999999999999999;
  margin: -22px 18px 0 auto;
}

.u-section-1 .u-btn-33 {
  border-style: solid;
  font-family: KonnectMedium;
  margin: 30px 18px 0 auto;
  padding: 0;
}

.u-section-1 .u-container-layout-27 {
  padding: 10px;
}

.u-section-1 .u-group-14 {
  min-height: 430px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  width: 100%;
  box-shadow: 0px 5px 30px 0 rgba(0,0,0,0.05);
}

.u-section-1 .u-container-layout-28 {
  padding: 0;
}

.u-section-1 .u-image-23 {
  height: 146px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-34 {
  font-size: 0.75rem;
  letter-spacing: 0px;
  background-image: none;
  font-family: KonnectRegular;
  margin: 12px 18px 0 auto;
  padding: 2px 13px 3px;
}

.u-section-1 .u-text-73 {
  font-size: 0.75rem;
  margin: -18px 189px 0 83px;
}

.u-section-1 .u-text-74 {
  font-size: 0.75rem;
  width: 56px;
  margin: -13px auto 0 18px;
}

.u-section-1 .u-text-75 {
  font-size: 1rem;
  line-height: 1.2;
  font-family: KonnectMedium;
  margin: 20px 18px 0;
}

.u-section-1 .u-btn-35 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-76 {
  font-size: 0.875rem;
  line-height: 1.4;
  font-family: KonnectRegular;
  margin: 10px 18px 0;
}

.u-section-1 .u-text-77 {
  font-size: 0.75rem;
  margin: 30px 18px 0 auto;
}

.u-section-1 .u-image-24 {
  width: 68px;
  height: 37px;
  margin: -13px 18px 0;
}

.u-section-1 .u-text-78 {
  font-size: 0.75rem;
  line-height: 1.0999999999999999;
  margin: -22px 18px 0 auto;
}

.u-section-1 .u-btn-36 {
  border-style: solid;
  font-family: KonnectMedium;
  margin: 30px 18px 0 auto;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-list-1 {
    width: 1140px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-list-2 {
    width: 1140px;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-group-11 {
    height: auto;
  }

  .u-section-1 .u-group-12 {
    height: auto;
  }

  .u-section-1 .u-group-13 {
    height: auto;
  }

  .u-section-1 .u-group-14 {
    height: auto;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 748px;
  }

  .u-section-1 .u-group-2 {
    min-height: 450px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 133px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    line-height: 1.2;
    margin-top: -17px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-3 {
    min-height: 450px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 133px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    line-height: 1.2;
    margin-top: -17px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-4 {
    min-height: 450px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-right: 133px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    line-height: 1.2;
    margin-top: -17px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-5 {
    min-height: 450px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-right: 133px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-image-8 {
    margin-top: -17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    line-height: 1.2;
    margin-top: -17px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-6 {
    min-height: 450px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-right: 133px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-image-10 {
    margin-top: -17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    line-height: 1.2;
    margin-top: -17px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-7 {
    min-height: 450px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-right: 133px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-37 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-38 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-image-12 {
    margin-top: -17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-39 {
    width: auto;
    line-height: 1.2;
    margin-top: -17px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-8 {
    width: 940px;
  }

  .u-section-1 .u-list-2 {
    width: 940px;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 748px;
  }

  .u-section-1 .u-group-9 {
    min-height: 450px;
  }

  .u-section-1 .u-text-43 {
    width: auto;
    margin-right: 133px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-44 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-45 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-46 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-47 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-image-14 {
    margin-top: -17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-48 {
    width: auto;
    line-height: 1.2;
    margin-top: -17px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-10 {
    min-height: 450px;
  }

  .u-section-1 .u-text-49 {
    width: auto;
    margin-right: 133px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-50 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-51 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-52 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-53 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-image-16 {
    margin-top: -17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-54 {
    width: auto;
    line-height: 1.2;
    margin-top: -17px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-24 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-11 {
    min-height: 450px;
  }

  .u-section-1 .u-text-55 {
    width: auto;
    margin-right: 133px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-56 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-57 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-58 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-59 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-image-18 {
    margin-top: -17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-60 {
    width: auto;
    line-height: 1.2;
    margin-top: -17px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-27 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-12 {
    min-height: 450px;
  }

  .u-section-1 .u-text-61 {
    width: auto;
    margin-right: 133px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-62 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-63 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-64 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-65 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-image-20 {
    margin-top: -17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-66 {
    width: auto;
    line-height: 1.2;
    margin-top: -17px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-30 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-13 {
    min-height: 450px;
  }

  .u-section-1 .u-text-67 {
    width: auto;
    margin-right: 133px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-68 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-69 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-70 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-71 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-image-22 {
    margin-top: -17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-72 {
    width: auto;
    line-height: 1.2;
    margin-top: -17px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-33 {
    margin-top: 24px;
  }

  .u-section-1 .u-group-14 {
    min-height: 450px;
  }

  .u-section-1 .u-text-73 {
    width: auto;
    margin-right: 133px;
    margin-left: 77px;
  }

  .u-section-1 .u-text-74 {
    width: auto;
    margin-top: -12px;
  }

  .u-section-1 .u-text-75 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-76 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-1 .u-text-77 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-image-24 {
    margin-top: -17px;
    margin-right: auto;
  }

  .u-section-1 .u-text-78 {
    width: auto;
    line-height: 1.2;
    margin-top: -17px;
    margin-left: 136px;
  }

  .u-section-1 .u-btn-36 {
    margin-top: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1301px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-6 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-10 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-12 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-14 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-15 {
    padding: 0;
  }

  .u-section-1 .u-group-8 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 0;
  }

  .u-section-1 .u-list-2 {
    width: 720px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1301px;
  }

  .u-section-1 .u-container-layout-18 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-20 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-22 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-24 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-26 {
    padding: 0;
  }

  .u-section-1 .u-container-layout-28 {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-group-8 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-right: 10px;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-group-8 {
    width: 340px;
  }

  .u-section-1 .u-text-41 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-42 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }
}@font-face {
  font-family: 'KonnectRegular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KonnectRegular.otf);
}@font-face {
  font-family: 'KonnectMedium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KonnectMedium.otf);
}@font-face {
  font-family: 'KonnectLight';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/KonnectLight.otf);
}